language: android
sudo: false
jdk:
    - oraclejdk8

android:
    components:
        - build-tools-28.0.3
env:
    global:
        # Keep gradle from crapping all over the log
        - TERM=dumb
    matrix:
        - nodejs_version=6
        - nodejs_version=8
        - nodejs_version=10
        - nodejs_version=12

install:
    # Install a sdkmanager version that supports the --licenses switch and
    # accept any Android SDK licenses. The output redirection prevents us from
    # hitting the travis log size limit of 4MB which would fail the build.
    - yes | sdkmanager tools > /dev/null
    - yes | sdkmanager --licenses > /dev/null

    - nvm install $nodejs_version
    - npm install
    - npm install -g codecov

script:
    - gradle --version
    - node --version
    - npm --version
    - npm test
    - npm run cover

after_script:
    - codecov
