sudo: false

dist: bionic

env:
  global:
    - ANDROID_API_LEVEL=28
    - ANDROID_BUILD_TOOLS_VERSION=28.0.3
    - TERM=dumb # Keep gradle from crapping all over the log
  matrix:
    - nodejs_version=6
    - nodejs_version=8
    - nodejs_version=10
    - nodejs_version=12
  
language: android
jdk:
  - oraclejdk8

android:
  components:
    - tools
    - build-tools-$ANDROID_BUILD_TOOLS_VERSION
    - android-$ANDROID_API_LEVEL
  licenses:
    - 'android-sdk-preview-license-.+'
    - 'android-sdk-license-.+'
    - 'google-gdk-license-.+'

before_install:
  - nvm install $nodejs_version 
  - node --version
  - npm --version
  - gradle --version

install:
  - npm install
  - npm install -g codecov

script:
  - npm test
  - npm run cover

after_script:
  - codecov
