environment:
    ANDROID_HOME: "C:\\android"

    # If the gradle daemon is used, the build hangs after generating the wrapper
    GRADLE_OPTS: -Dorg.gradle.daemon=false

    # URL for SDK Tools, Revision 26.1.1 (September 2017)
    SDK_TOOLS_URL: https://dl.google.com/android/repository/sdk-tools-windows-4333796.zip

    matrix:
        - nodejs_version: 10
        - nodejs_version: 12

install:
    # Install Android SDK Tools
    - mkdir "%ANDROID_HOME%"
    - appveyor DownloadFile "%SDK_TOOLS_URL%" -FileName "%TMP%/sdk-tools.zip"
    - 7z x "%TMP%/sdk-tools.zip" -o"%ANDROID_HOME%" > nul
    - set PATH=%PATH%;"%ANDROID_HOME%\tools\bin"

    - yes 2> nul | sdkmanager --licenses > nul
    - sdkmanager "build-tools;29.0.2"

    - choco install gradle --version 3.4.1

    - ps: Install-Product node $env:nodejs_version
    - npm install

build: off

test_script:
    - gradle --version
    - node --version
    - npm --version
    - npm test
