# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

name: Release Auditing

on:
  push:
    branches-ignore:
      - 'dependabot/**'
  pull_request:
    branches:
      - '*'

permissions:
  contents: read

jobs:
  test:
    name: Audit Licenses
    runs-on: ubuntu-latest
    steps:
      # Checkout project
      - uses: actions/checkout@v6

      # Check license headers (v2.0.0)
      - uses: erisu/apache-rat-action@46fb01ce7d8f76bdcd7ab10e7af46e1ea95ca01c

      # Setup environment with node
      - uses: actions/setup-node@v6
        with:
          node-version: 24

      # Install node packages
      - name: npm install packages
        run: npm ci

      # Check node package licenses (v2.0.1)
      - uses: erisu/license-checker-action@99cffa11264fe545fd0baa6c13bca5a00ae608f2
        with:
          license-config: 'licence_checker.yml'
          include-asf-category-a: true
